<div class="form-container">
  <form [formGroup]="issueForm" (ngSubmit)="submitForm()" novalidate>
    <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
      <div layout="row" layout-align="start center" flex class="mat-custom-form">
          <mat-form-field appearance="fill">
            <mat-label>NameUsed</mat-label>
            <input matInput formControlName="name_used" class="form-control"/>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>LastName</mat-label>
            <input matInput formControlName="last_name" class="form-control" />
          </mat-form-field>
      </div>
    </section>

    <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
      <div layout="row" layout-align="start center" flex class="mat-custom-form">
        <mat-form-field appearance="fill">
          <mat-label>FirstName</mat-label>
          <input matInput formControlName="first_name" class="form-control" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>MiddleName</mat-label>
          <input matInput formControlName="middle_name" class="form-control" />
        </mat-form-field>
      </div>
    </section>
    <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
      <div layout="row" layout-align="start center" flex class="mat-custom-form">
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <input matInput formControlName="status" class="form-control" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select me</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
          <mat-option value="option2">Option</mat-option>
          <mat-option value="option3">Option</mat-option>
          <mat-option value="option4">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>
  <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
    <div layout="row" layout-align="start center" flex class="mat-custom-form">
      <mat-form-field appearance="fill" class="mat-form-field-15">
        <mat-label>LoginName</mat-label>
        <input matInput formControlName="login_name" class="form-control" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-field-75">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          class="form-control"
        />
      </mat-form-field>
    </div>
  </section>
  <button mat-raised-button type="submit" color="primary">Basic</button>
  </form>
</div>
